set timeout=30
set default=0

set menu_color_normal=white/black
set menu_color_highlight=white/green
set menu_color_background=black

menuentry "Progwilinux 26.4" {
	echo "__.~."
	echo "__/V\."
	echo "_/___\."
	echo "/(   )\."
	echo "_^'~'^."
	
	linux /files/vmlinuz-701
   	initrd /files/initramfs.igz
}
